<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <header>
        <style>
            div {
                background-image: url(/static/img.png)
            }
        </style>
        <style>
            input[type=submit] {
                background-color: #111;
                color: #fff;
                border-radius: 10px;
            }
        </style>
        <style>
            input[type=file] {
                background-color: dimgray;
                color: #fff;
                border-radius: 10px;
        </style>

        }
        </header>
    </body>
</html>